<header class="header bg-white">
  <div class="container px-lg-3">
    <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0"><a class="navbar-brand"><span class="fw-bold text-uppercase text-dark">RENTACAR</span></a>
      <button class="navbar-toggler navbar-toggler-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Ana Sayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="shop.html">Araç Listesi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="detail.html">Product detail</a>
          </li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu mt-3 shadow-sm" aria-labelledby="pagesDropdown"><a class="dropdown-item border-0 transition-link" href="index.html">Homepage</a><a class="dropdown-item border-0 transition-link" href="shop.html">Category</a><a class="dropdown-item border-0 transition-link" href="detail.html">Product detail</a><a class="dropdown-item border-0 transition-link" href="cart.html">Sepet Sayfası</a><a class="dropdown-item border-0 transition-link" href="checkout.html">Ödeme</a></div>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">               
          <li class="nav-item"><a class="nav-link" href="cart.html"> <i class="fas fa-dolly-flatbed me-1 text-gray"></i>Sepet<small class="text-gray fw-normal"> (2)</small></a></li>
          <li class="nav-item"><a class="nav-link" href="#!"> <i class="fas fa-user me-1 text-gray fw-normal"></i>Giriş Yap</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<section class="py-5 bg-light">
  <div class="container">
    <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
      <div class="col-lg-6">
        <h1 class="h2 text-uppercase mb-0">Araç Listesi</h1>
      </div>
      <div class="col-lg-6 text-lg-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-light">
            <li class="breadcrumb-item"><a class="text-dark" href="index.html">Ana Sayfa</a></li>
            <li class="breadcrumb-item active" aria-current="page">Araç Listesi</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>