  <!-- <div *ngFor="let car of cars" class="card" style="width: 48rem;">
  <div *ngIf="images.length>0" id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img [src]="loadImage()" class="d-block w-100" alt="{{car.description}}">
      </div>
    </div>
    <button *ngIf="images.length>1" class="carousel-control-prev" type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true" (click)="prevImage()"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button *ngIf="images.length>1" class="carousel-control-next" type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true" (click)="nextImage()"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{car.brandName}}</h5>
    <p class="card-text">{{car.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Kiralama fiyatı {{car.dailyPrice}} ₺</li>
    <li class="list-group-item">Arac rengi {{car.colorName}}</li>
    <li class="list-group-item">Arac yılı {{car.modelYear}}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Kirala</a>
  </div>
</div>   -->

<div class="car-carousel">

    <div *ngFor="let car of carDetails" id="carouselExampleDark" class="carousel carousel-dark slide" style="margin-top: 30px; margin-bottom: 30px;">
  
      <!-- The slideshow/carousel -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img [src]="loadImage()" alt="Los Angeles" class="d-block w-100">
        </div>
      </div>
  
      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev" (click)="prevImage()">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next" (click)="nextImage()" >
        <span  class="carousel-control-next-icon"></span>
      </button>
    </div>
  
    <div class="car-details" *ngFor="let car of carDetails" style="width: 700px;">
      <h3>{{ car.brandName }} - {{ car.modelYear }}</h3>
      <h6>{{car.description}}</h6>
      <div class="separator"></div>
      <div class="details">
        <div class="label">Marka:</div>
        <div class="value">{{ car.brandName }}</div>
      </div>
      <div class="details">
        <div class="label">Renk:</div>
        <div class="value price">{{ car.colorName }}</div>
      </div>
      <div class="details">
        <div class="label">Model Yılı</div>
        <div class="value price">{{ car.modelYear}}</div>
      </div>
      <div class="details">
        <div class="label">Günlük Fiyatı:</div>
        <div class="value price">{{ car.dailyPrice }} TL / Günlük</div>
      </div>
      <a  class="buton float-end text-center">Aracı Kirala</a>
    </div>
    
  
  </div>